<form
    class="space-y-3 w-full"
    hx-post="{% url 'update-task' task.id %}"
    hx-target="#task-list"
    hx-swap="afterbegin"
    hx-on::before-request="document.getElementById('submit-text').textContent = 'Saving...'"
    hx-on:success="task_create_modal.close(); this.reset(); document.getElementById('submit-text').textContent = 'Save';"
      >
        {% csrf_token %}
        <div class="form-control w-full">
            <label class="label mb-2">
              <span class="label-text">Title</span>
            </label>
            {{form.title}}
          </div>
        
          <div class="form-control w-full">
            <label class="label mb-2">
              <span class="label-text">Desc</span>
            </label>
            {{form.desc}}
          </div>
    
          <div class="form-control w-full">
            <label class="label mb-2">
              <span class="label-text">Status</span>
            </label>
            {{form.status}}
          </div>

        <div class="modal-action">
          <button
            type="button"
            class="btn px-8"
            onclick="task_update_modal.close()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn px-8 text-white border-emerald-500 bg-emerald-500 hover:bg-emerald-500/75 flex items-center space-x-2"
          >
            <span id="submit-text">Save</span>
          </button>
  
        </div>
      </form>