<dialog id="task_create_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg mb-4">Add new task</h3>
        <form hx-post="{% url 'create-task' %}" 
        hx-target="#task-list" 
        hx-swap="afterbegin"
        hx-on:success="task_create_modal.close(); this.reset();"
        class="space-y-3 w-full">
            {% csrf_token %}
            <div class="form-control w-full">
              <label class="label mb-2">
                <span class="label-text">Title</span>
              </label>
              {{form.title}}
            </div>
      
            <div class="form-control w-full">
              <label class="label mb-2">
                <span class="label-text">Desc</span>
              </label>
              {{form.desc}}
            </div>
      
            <div class="form-control w-full">
              <label class="label mb-2">
                <span class="label-text">Status</span>
              </label>
              {{form.status}}
            </div>
      
            <div class="modal-action">
              <button type="button" class="btn" onclick="task_create_modal.close()">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
    </div>
</dialog>