<dialog id="task_update_modal" class="modal" >
    <div
      class="modal-backdrop w-full h-screen fixed"
      onclick="task_update_modal.close();"
    ></div>
    <div  class="modal-box">
      <h3 class="font-bold text-lg mb-4">Edit exsting task</h3>
      <button
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        onclick="task_update_modal.close()"
      >
        ✕
      </button>
      <div id="modal-box">
        {% include './form-data.html' %}
      </div>
  
      
    </div>
  
  </dialog>
  