{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PyTask</title>
    <link
      href="{% static 'css/daisyui.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <script src="{% static 'js/tailwindcss.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>


  </head>
  <body >
    {% include "./partails/header.html" %}
    <main class="mt-5 py-5 px-5 lg:px-25">
      {% block content %} {% endblock content %}
    </main>
  </body>
</html>
